:root {
    --back-color: #eeeeee;
    --yellow-color: #f1c40f;
    --icon-color: darkorange;
    --gray-color: #95a5a6;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    border:0;
    padding: 0;
    background-color: var(--back-color);
    text-align: center;
}

li {
    list-style: none;
    padding: 0.2em;
}

a {
    text-decoration: none;
    color: black;
    /* transition: all 2s ease-in-out; */
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.1em;
    padding: 1em;
    /* color: var(--back-color); */
}


/* extra general */

.link:hover{
    color: var(--gray-color);
    transition: all .3s ease-in;
}

.btn {
    padding: .7em;
    text-transform: uppercase;
    background-color: var(--yellow-color);
    border: none;
    cursor: pointer;
    font-weight: bolder;
}

.btn:hover {
    background-color: var(--icon-color);
    transition: all .3s ease-out;
    color: white
}



/* header */

.container {
    width: 90%;
    margin: 0 auto;
}

.container-logo {
    width: 100%;
}

.container-logo img {
    width: 100%;
}

.navbar ul {
    padding-left: 0;
}

/* suscription */

.subcription {
    display: grid;
    justify-items: center;
}

.subcription input {
    width: 50%;
    padding: 0.3em;
    text-align: center;
    outline: none;
    font-family: 'Lato', sans-serif;
    margin-bottom: 1.5em;
}

/* features section */

.feature-img {
    display: none;
}

.feature-description h2 {
    margin-bottom: 0;
}

.feature-description p {
    margin-top: 0;
    margin-bottom: 2em;
}

/* video */

.image-container {
    width: 99%;
    margin: 0 auto;
    padding-top: 1em;
}

.image-container iframe {
    width: 100%;
}

/* pricing */

.pricing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 99%;
    margin: 0 auto;
    padding: 2em 0;
}

.product {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 95%;
    margin-bottom: 1em;
}

/* .product:last-child {
    margin-bottom: 0;
} */

.product .title {
    background-color: var(--gray-color);
    margin: 0;
    color: white
}

.product ul {
    padding-left: 0;
}

/* footer */

.footer ul {
    text-align: right;
}

.footer ul li {
    display: inline;
    padding: 1em;
    text-align: right;
}

.footer p {
    text-align: right;
    padding: 0 1em 0 1em;
}


@media (min-width: 750px){
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container-logo {
        width: 300px;
    }

    .container-logo img {
        width: 100%;
    }

    .navbar {
        width: 50%;
    }

    .navbar ul {
        text-align: right;
    }

    .navbar ul li {
        display: inline;
    }

    /* suscription */

    .feature-item {
        display: flex;
        align-items: center;
    }

    .feature-img {
        display: flex;
        /* padding-top: 5em; */
        width: 20%;
        /* align-self: stretch; */
        align-content: center;
        justify-content: center;
        /* background-color: var(--icon-color); */
    }

    .feature-img i {
        color: var(--yellow-color);
        display: block;
        height: 100%;
    }

    .feature-description {
        width: 80%;
    }

    .feature-description > * {
        text-align: left;
        padding-left: 0;
    }

    

    /* product */
    .product {
        width: 400px;
        margin-right: 1em;
    }

    .product:last-child {
        margin-right: 0;
    }

    /* video */

    .image-container {
        width: 50%;
    }
    
}